#search-bar {
  background: #aa4b6b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #3b8d99,
    #6b6b83,
    #aa4b6b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #3b8d99,
    #6b6b83,
    #aa4b6b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

#search-bar input,
button {
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
}

#search-bar input:focus {
  outline: none;
}
#search-bar button {
  margin-left: -40px;

  background-color: #c6c6e3;
}
#search-bar button:hover {
  background-color: #9f9fce;
  color: white;
  cursor: pointer;
}
